.new_expense__controls {
  display: flex;
  flex-wrap: wrap; /*자동으로 정렬*/
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new_expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new_expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid rgb(160, 160, 160);
  width: 20rem;
  max-width: 100%;
}

.new_expense__actions button {
  background-color: #4b57ff;
  border: 1px solid #4b57ff;
  border-radius: 12px;
  color: white;
  padding: 1rem 2rem;
  cursor: pointer; /* 마우스 커서 */
  padding: 1rem 2rem;
  border-radius: 12px;
  font-size: 1rem;
  margin-left: 6px;
  transition: .25s all,
}

.new_expense__actions button:hover,
.new_expense__actions button:active {
  background-color: #212de0;
  border-color: #212de0;
}

.add_new_expense {
  background-color: #4b57ff;
  border: 1px solid #4b57ff;
  border-radius: 12px;
  color: white;
  padding: 1rem 2rem;
  cursor: pointer; /* 마우스 커서 */
  padding: 1rem 2rem;
  border-radius: 12px;
  font-size: 1rem;
  margin-left: 6px;
  transition: .25s all,
}

.add_new_expense:hover,
.add_new_expense:active {
  background-color: #212de0;
  border-color: #212de0;
}