.expense_date_box{
  display: flex;
  flex-direction: column;
  background-color: #505050;
  text-align: center;
  color:#f0f0f0;
  border:solid #ebebeb;
  border-width: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left:3px;
}

.expense_date_year{
  font-size:0.8rem;
}

.expense_date_month{
  font-weight: bold;
}

.expense_date_day{
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 3px;
}